emulator
/sdk/skins/pixel_3a/land_back.webp
/sdk/skins/pixel_3a/land_fore.webp
/sdk/skins/pixel_3a/layout
/sdk/skins/pixel_3a/port_back.webp
/sdk/skins/pixel_3a/port_fore.webp
/sdk/skins/pixel_3a/rounded_corners.webp
/sdk/system-images
/sdk/.temp
/sdk/tools
/sdk/skins
/sdk/extras/intel